<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translate service</title>
</head>
<body>
    {{#if error }}
    <h1>Ошибка: {{ error }}</h1>
    {{else}}
    {{#each text}}
    <li> {{this}}</li>
    {{/each}}
    {{/if}}

</body>
</html>